.fileupload-view {
    position: relative;
    .fileupload-card {
        form {
            .kb-file-upload {
                position: relative;
                width: 100%;
                box-shadow: 0px 0px 15px 0px #0000001A;

                .file-upload-box {
                    border: 4px dashed #BEA7FF;
                    background-color: #fff;
                    border-radius: 4px;
                    min-height: 450px;
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    padding: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #8194aa;
                    font-weight: 400;
                    font-size: 15px;

                    @media (max-width: 575px) {
                        min-height: 350px;
                    }
                    @media (max-width: 370px) {
                        min-height: 300px;
                    }

                    .file-upload-input {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        cursor: pointer;
                    }

                    .upload-box {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap: 15px;

                        @media (max-width: 575px) {
                            gap: 10px;
                        }

                        .upload-img {
                            height: 100px;
                            width: 100px;
                            border-radius: 50%;

                            @media (max-width: 575px) {
                                height: 70px;
                                width: 70px;
                            }

                            @media (max-width: 370px) {
                                height: 50px;
                                width: 50px;
                            }
    
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }

                        h3.heading {
                            font-size: 20px;
                            line-height: 28px;
                            color: #060A23;
                            font-weight: 600;
                            margin-bottom: 0;

                            @media (max-width: 575px) {
                                font-size: 18px;
                            }
                        }

                        span {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 18px;
                            color: #656565;
                        }

                        span.file-link {
                            color: #2DDB9C;
                            text-decoration: none;
                        }
                    }
                }

                .kb-data-title {
                    position: absolute;
                    top: 30px;
                    z-index: 9;
                    left: 20px;
                    text-transform: capitalize;

                    h6 {
                        font-size: 12px;
                        line-height: 16px;
                        color: #656565;
                    }
                }
            }

            .kb-buttons-box {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin: 30px 0;

                button.form-submit {
                    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
                    height: 50px;
                    font-size: 15px;
                    line-height: 1.2;
                    width: 100%;
                    color: #fff;
                    width: 200px;
                    border-radius: 5px;
                    background-color: #6936F5;
                    border: 1px solid #6936F5;
                    outline: none;

                    &:hover {
                        background-color: transparent;
                        color: #6936F5;
                    }
                }
            }
        }
        .kb-attach-box {
            margin-bottom: 30px;

            .file-atc-box {
                border: 1px solid #ddd; // Light grey border
                padding: 10px;
                margin-bottom: 10px; // Space between items
                background-color: #f9f9f9; // Light background for each item
                border-radius: 5px; // Optional: rounded corners
                display: flex;
                align-items: center;
                justify-content: space-between; // This spreads out the child elements evenly
            

                .file-image {
                    width: 130px;
                    height: 85px;
                    background-size: cover;
                    border-radius: 5px;
                    margin-right: 15px;
                    background-color: #eaecf1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 30px;
                    color: #475f7b;
                    padding: 3px;

                    @media (max-width: 575px) {
                        min-width: 80px;
                        width: 80px;
                    }

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        border-radius: 4px;
                    }
                }

                .file-detail {
                    flex-grow: 1;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h6 {
                        word-break: break-all;
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 20px;
                        margin-bottom: 8px;
                        margin-right: 20px;
                    }

                    p {
                        font-size: 12px;
                        color: #8194aa;
                        line-height: initial;
                        font-weight: 400;
                        margin-bottom: 8px;
                        margin-right: 20px;
                    }

                    .file-actions {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;

                        .file-action-btn {
                            font-size: 12px;
                            color: #8194aa;
                            line-height: 20px;
                            font-weight: 400;
                            margin-bottom: 0;
                            padding: 0;
                            background-color: transparent;
                            border: none;
                            text-decoration: underline;
                            margin-right: 15px;
                        }
                    }
                    select {
                        margin-right: 20px;  // Adds spacing to the right of the dropdown
                    }
                }
            }
        }
        .upload-kb-attach-box {
            padding-bottom: 80px;

            @media (max-width: 500px) {
                padding-bottom: 0px;
            }
        }
    }
}

.opportunity-file {
    .fileupload-card {
        .upload-kb-attach-box {
            padding-bottom: 0px;
        }
    }
}