.chart-container {
    svg {
        path {
            box-shadow: 0px 6px 15px 0px #17D7174D; // Adjust shadow values as needed

            stroke: #000000; // Original line color
            stroke-width: 3; // Original line thickness
            fill: none;
            
            // Create a shadow-like effect
            &:nth-child(2) { // Change the index as needed
                stroke: #17D7174D; // Shadow color
                stroke-width: 4; // Shadow thickness
                transform: translate(2px, 2px); // Offset for shadow effect
            }
        }
    }
}

a.canvasjs-chart-credit {
    display: none !important;
}