<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Stone Identification</title>
</head>
<body>
    <h1>Stone Identification</h1>

    <form method="POST">
        <label for="query">Search:</label>
        <input type="text" name="query" id="query" value="{{ query }}">
        <button type="submit">Search</button>
    </form>

    <h2>Filter By:</h2>
    <div>
        <h3>Type:</h3>
        <ul>
            {% for type in types %}
                <li>{{ type }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3>Color:</h3>
        <ul>
            {% for color in colors %}
                <li>{{ color }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3>Origin:</h3>
        <ul>
            {% for origin in origins %}
                <li>{{ origin }}</li>
            {% endfor %}
        </ul>
    </div>

    <h2>Stones:</h2>
    <ul>
        {% for stone in stones %}
            <li>
                <h3>{{ stone.name }}</h3>
                <img src="{{ stone.image_url }}" alt="{{ stone.name }}">
                <p>{{ stone.description }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
