/* Reset margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Basic styling for the body */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  
  /* Container styles */
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styles */
  header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  /* Form and filter section styles */
  form,
  .filter-section {
    margin-bottom: 20px;
  }
  
  /* Stones list styles */
  .stones-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .stone-item {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .stone-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .stone-item h3 {
    margin-bottom: 5px;
  }
  
  .stone-item p {
    font-size: 14px;
    color: #666;
  }
  